.Button_short {
  border-radius: 30px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding-left: 15px;
  padding-right: 15px;
}
